# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bootstrap-3.3.6-dist.zip
bootstrap-3.3.6-dist/css/bootstrap-theme.css
bootstrap-3.3.6-dist/css/bootstrap-theme.css.map
bootstrap-3.3.6-dist/css/bootstrap-theme.min.css
bootstrap-3.3.6-dist/css/bootstrap-theme.min.css.map
bootstrap-3.3.6-dist/css/bootstrap.css
bootstrap-3.3.6-dist/js/npm.js
bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.woff2
bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.woff
bootstrap-3.3.6-dist/css/bootstrap.min.css.map
jquery-1.12.3.min.js
bootstrap-3.3.6-dist/js/bootstrap.js
bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.eot
bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.ttf
bootstrap-3.3.6-dist/js/bootstrap.min.js
bootstrap-3.3.6-dist/css/bootstrap.min.css
bootstrap-3.3.6-dist/css/bootstrap.css.map
bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.svg
