body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.define {
	padding: 10px 0px;
	vertical-align: text-bottom;
}

body {
  font-family: "nimbus-sans-condensed",'PT Sans Narrow', sans-serif;
  font-size:large;
 
}
.define h3, h4 {
  font-weight:700;
}
nav {
}
.brand {
	padding: 0 30px;
	text-align:left;
}
.main {
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-image:url('../img/header-main.jpg');
  background-position: top;
  background-size:cover;
  padding: 0 30px;
}

.navbar-brand, .navbar-default, .logo{
  font-size: larger;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px #354F3A;
  text-decoration:none;
}

nav .navbar-collapse {
	padding: 0px 15px;
}
.navbar-default a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #ABEFB9;
	text-decoration:none;
}
.portfolio img {
  margin: 0px auto;
}
.portfolio {
  margin: inherit 10px;
}